@use '../../globals/scss/globals' as *;

.portfolio {
  padding-block-end: 0;

  &__addon-eye {
    position: absolute;
    right: 100px;
    top: 10%;
  }

  &__addon-guy {
    position: absolute;
    display: none;
    left: 38%;
    top: 0;

    img {
      width: 256px;
      height: 263px;
    }

    animation: float 6s ease-in-out infinite;
  }

  &__card-block {
    position: relative;
    padding: 15px;

    @include flex(stretch, flex-end, column);

    box-shadow: 4px 4px 23px 0 rgb(34 60 80 / 20%);
  }

  &__card-subtitle {
    font-family: var(--ff-recoleta);
    font-size: 1.4rem;
    color: var(--radical-red);
  }

  &__card-title {
    font-size: 2rem;
    margin-top: -10px;
    font-weight: var(--fw-400);
  }

  &__card-description {
    height: max-content;
    margin-top: 15px;
    line-height: 1.4;
    border-radius: 6px;
    font-weight: var(--fw-400);
    background: var(--eerie-black);
    position: relative;
    color: black;
    transition: var(--transition-1) .1s;
    border: none;
    box-shadow: none;
    width: initial;
    font-size: 1.6rem;
    padding: 0;
    margin-bottom: 15px;


    &:hover {
      transform: scale(1.02);
      cursor: pointer;
    }

    em {
      text-decoration: underline;
    }

    a {
      position: absolute;
    }
  }

  &__card-time {
    align-items: center;
    gap: 6px;
    position: absolute;
    right: 14px;
    bottom: 10px;
    display: none;

    img {
      @include size(20px, 20px);
    }

    span {
      font-family: var(--ff-recoleta);
    }
  }

  &__card-tags {
    @include flex;

    flex-wrap: wrap;
    row-gap: -10px;
    column-gap: 8px;
    margin-top: 0;
    width: 100%;


    span {
      font-size: 1.4rem;
    }
  }

  &__card-icons {
    width: 100%;
    height: 27px;
    margin-top: 15px;

    @include flex(flex-end);

    margin-right: 20px;
    gap: 17px;
    animation: none;

    img {
      cursor: pointer;
      transition: var(--cubic-out) 0.3s;

      @include size(24px, 24px);

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      position: absolute;
    }
  }

  .section-description {
    margin-block-end: 55px;
    margin-top: 20px;
    line-height: 1.4;
    font-size: var(--fs-6)
  }

  &__wrapper {
    display: block;

    .portfolio__card-block{
    @include flex(streth, flex-start, column);
    }

    width: 100%;
    gap: 50px;

    //margin: 75px auto 0;
    margin: 45px auto 0;

  }

  &__wrapper.to-left {
    .portfolio__card-block {
      @include flex(streth, flex-start, column);
    }
  }

  &__card.adonis-ecommerce {
    background-image: url('images/projects/adonis-ecommerce.png');
  }

  &__card.space-calendar {
    background-image: url('images/projects/space-calendar.png');
  }

  &__card {
    display: none;
    position: relative;
    margin-block-end: 50px;
    width: 671px;

    &:is(.card-content, .btn-icon) {
      position: absolute;
      z-index: 1;
    }

    cursor: pointer;
    height: 388px;
    background-size: cover;
    border-radius: 3px;

    &:hover {
      transform: translate(0, 0) scale(0.93) !important;

      .portfolio__card-background {
        opacity: 0.5;
      }

      .portfolio__card-text {
        transform: translate(-50%, -50%);
        opacity: 1;
      }

      .portfolio__card-github {
        opacity: 0.9;
      }
    }
  }

  &__card-background {
    @include absolute;
    @include size;

    background-color: black;
    opacity: 0;
    transition: var(--cubic-out) 0.5s;
    border-radius: 6px;
  }

  &__card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: max-content;
    opacity: 0;
    transform: translate(-70%, -50%);
    transition: var(--cubic-out) 0.3s;
    z-index: 1;
    color: var(--smokey-black);
    font-family: var(--ff-recoleta);


    h3 {
      font-weight: var(--fw-300);
      font-size: 1.6em;
    }

    p {
      font-weight: var(--fw-300);
      font-size: 1.2em;
    }
  }

  &__card-github {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background: white;
    position: absolute;
    bottom: 16px;
    right: 26px;
    overflow: hidden;

    img {
      @include size(75%, 75%);
    }

    @include flex-center;

    transition: var(--cubic-out) 0.3s;
    opacity: 0;
    transform: translate(20%);

    a {
      @include flex-center;
      @include size(90%, 90%);
    }

  }
}
