@use '../../globals/scss/globals' as *;

.footer {
  position: relative;

  .abs-img{
    display: none;
  }

  &__top{
    padding-block: 100px 140px;
    text-align: center;
    z-index: 1;
  }

  &__top, .section-title{
    margin-block: 20px 60px;
    line-height: normal;
  }

  .btn-icon{
    width: 60px;
    height: 60px;
    margin-inline: auto;

    --hover-bg-color: var(--radical-red);

    img{
      width: 30px;
    }
  }

  &__bottom{
    position: relative;

    .logo{
      margin-inline: auto;
      max-width: max-content;
      margin-block-end: 20px;
    }
  }

  &__social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .social-link{
    font-weight: var(--fw-500);

    &:is(:hover, :focus-visible) {
      text-decoration: underline;
    }
  }

  &__social-list, .copyright{
    padding-block-end: 15px;
  }

  .copyright{
    font-weight: var(--fw-300);
    letter-spacing: 0.5px;
    text-align: center;
  }

  &__icon-wrapper{
    @include flex(space-around);

    margin: 0 auto;
    width: 267px;
  }

  &__icon{
    @include size(43px, 43px);

    border: 1px solid var(--white-a25);
    cursor: pointer;
    background: white;
    border-radius: 45px;

    @include flex-center;

    a{
      @include absolute;
    }

    img{
      @include size(61%, 61%);
    }

    transition: 0.2s var(--cubic-in);

    &:hover{
      transform: scale(1.15);
    }
  }

  .secret{
    display: none;
    height: 20px;

    @include absolute;

    bottom: -20px;
    left: 16px;
    font-weight: var(--fw-300);
    opacity: 0.4;
    font-size: 1.7rem;
  }
}
