@use './../globals' as *;

.main {
  text-align: center;

  &__contacts{
    width: 300px;
    position: absolute;
    left: -95px;
    bottom: -260px;

    &.active{
      display: none;
    }
  }

  &__contact{
    display: flex;
    height: max-content;
    align-items: center;
    margin-bottom: -11px;
    cursor: pointer;
    transition: transform 0.2s var(--cubic-in);

    h4{
      font-size: 2.5rem;
      font-weight: var(--fw-400);
    }

    a{
      position: absolute;
    }

    img{
      @include size(27px, 27px);

      margin-right: 10px;
    }

    &:hover{
      transform: scale(1.02);
    }
  }

  &__banner {
    max-width: 150px;
    margin-inline: auto;
    margin-block-end: 20px;
    border-radius: 100%;
  }

  .wrapper {
    position: relative;
    text-align: left;
    height: 1.2em;
    margin-block: 10px 25px;

    .strong {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-weight: inherit;
      display: flex;
    }
    .space { padding: 0.1em; }

    :is(.in, .out) {
      opacity: 0;
      transform: scaleY(0);
    }

    .in {
      animation: text-wave 0.2s ease forwards;
    }
  }

  &__text {
    font-size: var(--fs-10);
    font-weight: var(--fw-300);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--white-a25);
  }

  .strong.active .out {
    opacity: 1;
    transform: scaleY(1);
    animation: text-wave 0.2s ease reverse forwards;
  }
}
