@use './../globals' as *;

.portfolio { padding-block-end: 0; }

.portfolio .section-title { margin-block-end: 90px; }


.portfolio-card {
  position: relative;
  margin-block-end: 50px;
  width: 50%;
}

.portfolio-card :is(.card-content, .btn-icon) {
  position: absolute;
  z-index: 1;
}

.portfolio-card .card-content {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px;
}

.portfolio-card .card-tag {
  color: var(--white_a70);
  font-weight: var(--fw-300);
}

.portfolio-card .btn-icon {
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;

  --hover-bg-color: var(--radical-red);
  --hover-text-color: var(--white);
}

.portfolio-card .btn-icon svg { width: 20px; }

.portfolio-card .card-title:is(:hover, :focus) { text-decoration: underline; }


.btn-icon{
  background-color: white !important;
}

.portfolio-wrapper{
  @include flex;

  width: 100%;
  gap: 50px;
}

.portfolio-card.adonis-ecommerce{
  background-image: url('img/adonis-ecommerce.png');
}

.portfolio-card.space-calendar{
  background-image: url('img/space-calendar.png');

}

.portfolio-card{
  transition: var(--cubic-out) 0.3s;
  cursor: pointer;
  height: 390px;
  background-size: cover;
  border-radius: 3px;

  &:hover{
    transform: scale(0.93);

    .card-image-background{
      opacity: 0.5;
    }

    .card-text{
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    .card-github{
      transform: translate(0);
      opacity: 0.9;
      img{
        @include size;
      }
    }
  }
}

.card-image-background{
  @include absolute;
  @include size;

  background-color: black;
  opacity: 0;
  transition: var(--cubic-out) 0.5s;
  border-radius: 6px;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: max-content;
  opacity: 0;
  transform: translate(-70%, -50%);
  transition: var(--cubic-out) 0.3s;
  z-index: 1;
  color: var(--smokey-black);
  font-family: var(--ff-recoleta);


  h3{
    font-weight: var(--fw-300);
    font-size: 2em;
  }

  p{
    font-weight: var(--fw-300);
    font-size: 1.5em;
  }
}

.card-github{
  border-radius: 100%;
  width: 53px;
  height: 53px;
  background: white;
  position: absolute;
  bottom: 40px;
  right: 40px;
  overflow: hidden;

  @include flex-center;

  transition: var(--cubic-out) 0.3s;
  opacity: 0;
  transform: translate(20%);

  a{
    @include flex-center;
    @include size(85%, 85%);
  }

}
