
@use './../globals' as *;

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 5;
  transform-origin: bottom;
  transition: 0.5s var(--cubic-in);
  transition-delay: 0.5s;
}

.loading.loaded {
  transform: scaleY(0);
  pointer-events: none;
}

.loading > * {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: var(--transition-2);
}

.loading.loaded > * { opacity: 0; }

.loading .circle { animation: rotate360 1.5s linear infinite; }

@keyframes rotate360 {
  0% { transform: translate(-50%, -50%) rotate(0); }
  100% { transform: translate(-50%, -50%) rotate(1turn); }
}
