@use './../globals' as *;


@keyframes float {
  0% {
    transform: translate(-50%, -50%) scale(1.15);
  }

  50% {
    transform: translate(-65%, -50%) scale(1.15);
  }

  100% {
    transform: translate(-50%, -50%) scale(1.15);
  }
}


.skills .container{
  padding-bottom: 60px;
  border-bottom: 1px solid var(--white-a80);
}

.skills{
  padding-top: 0;
  padding-bottom: 0;

  &__wrapper{
    width: 100%;

    @include flex(space-between);

    min-height: 150px;
    margin-top: 20px;
  }

  &__addon-1{
    position: absolute;
    left: 55px;
    top: 10%;
  }

  &__wrapper-section{
    width: 50%;
    position: relative;

    &:has(img){
      @include flex(center);
    }

    img{
      width: 420px;
      height: 390px;
      animation: float 6s ease-in-out infinite;
    }
  }

  &__wrapper-title{
    color: var(--white-a25);
    font-weight: var(--fw-300);
    font-size: 2.25em;
  }

  &__wrapper-block{
    margin-top: 10px;
    margin-bottom: 40px;

    @include flex;

    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  &__wrapper-icon{
    border: 1px solid var(--white-a50);
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    height: 28px;
    width: max-content;
    min-width: 109px;
    background: white;

    @include flex-center;

    font-size: 1.1em;
    transition: var(--transition-1) 0.1s;

    &:hover{
      transform: scale(1.05);
    }

  }
}
