@use '../../globals/scss/globals' as *;

.about {
  .container{
    display: grid;
    gap: 20px;
  }

  .section-title{
    margin-block-end: 35px;
  }

  .section-text{
    font-size: var(--fs-6);
    color: var(--white-a25);
    font-weight: var(--fw-300);
    margin-block-end: 35px;
    line-height: 1.7;
  }

  .wrapper {
    padding-inline-start: 10px;

    &::before{
      top: 10px;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }
  }

  .section-text{
    .em{
      color: var(--white);
      font-weight: var(--fw-400);
      text-decoration: underline;
    }
  }

  &__banner{
    display: none;
    position: relative;
    margin: 20px auto 0;
    width: 90%;
    animation: float 6s ease-in-out infinite;
  }
}
