@use '../../globals/scss/globals' as *;


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 12px;
  transition: padding-block var(--transition-2),
  box-shadow var(--transition-2),background-color var(--transition-2);
  z-index: 4;

  &__buttons{
    @include flex;

    gap: 19px;
  }

  .logo{
    img{
      width: 35px;
      height: 35px;
    }
  }

  &__btn{
    @include size(28px, 28px);

    transition: var(--transition-1) 0.2s;

    img{
      @include size(90%, 90%);
    }

    a{
      position: absolute;
    }

    &:hover{
      transform: scale(1.12);
    }
  }

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.header.active {
  background-color: var(--eerie-black);
  padding-block: 12px;
  box-shadow: var(--shadow);
}
