@use '../../globals/scss/globals' as *;

.section.skills{
  padding-block: 0;
}

.skills{
  padding-top: 0;
  padding-bottom: 0;

  .container{
    padding-bottom: 60px;
    border-bottom: 1px solid var(--white-a80);
  }

  &__wrapper{
    width: 100%;

    @include flex(space-between);

    min-height: 150px;
    margin-top: 20px;
  }

  &__addon-eye{
    position: absolute;
    right: 55px;
    top: 10%;
  }

  &__wrapper-section{
    width: 100%;
    position: relative;

    &:has(img){
      @include flex(center);

      display: none;
    }

    img{
      display: none;
      width: 440px;
      height: 310px;
      animation: float 6s ease-in-out infinite;
    }
  }

  &__wrapper-title{
    color: var(--white-a25);
    font-weight: var(--fw-400);
    font-size: 2.25rem;
    margin-bottom: 10px;
  }

  &__wrapper-block{
    margin-top: 10px;
    margin-bottom: 8px;

    @include flex;

    flex-wrap: wrap;
    width: 100%;
    gap: 7px;
  }

  &__wrapper-icon{
    border: 1px solid var(--white-a50);
    box-sizing: border-box;
    height: 28px;
    background: white;

    @include flex-center;

    transition: var(--transition-1) 0.1s;
    border-radius: 0;
    width: 45%;
    padding: 15px;
    font-size: 1.65rem;


    &:hover{
      transform: scale(1.05);
    }

  }
}
